.input-box-container {
	width: 800px;
	min-height: 136px;
	border: 1px solid #0089fe;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 0 2px 7px rgba(0, 138, 255, 0.15);
	position: relative;
	bottom: 35px;
}

.input-box-container .input-box-container-input {
	width: 100%;
	padding: 0 10px;
}

.input-box-container .input-box-container-input textarea {
	color: #333;
	width: 90%;
	height: 100%;
	border: none;
	font-size: 16px;
	margin-top: 10px;
	resize: none;
}

.input-box-container .input-box-container-input textarea:focus {
	outline: none;
}

.input-box-container .input-box-container-input textarea:focus-visible {
	outline: none;
}

.input-box-container .input-box-container-input textarea::placeholder {
	color: #dadade;
}

.input-box-container .button-container {
	position: relative;
	width: 100%;
}

.input-box-container .button-container .button-send {
	background-color: black;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.answer-box-contaner {
	width: 800px;
	height: 300px;
	overflow-y: auto;
	scrollbar-width: none;
	font-size: 1rem;
	&::-webkit-scrollbar {
		display: none;
	}
}

.answer-box-contaner .chat-response {
	padding: 20px;
	border-radius: 8px;
	margin: 10px 0;
	line-height: 1.5rem;
	white-space: pre-wrap;
	word-break: break-word;
}