.input-box-container {
	width: 800px;
	min-height: 136px;
	border: 1px solid #0089fe;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 0 2px 7px rgba(0, 138, 255, 0.15);
	position: relative;
	bottom: 35px;
}

.input-box-container .input-box-container-input {
	width: 100%;
	padding: 0 10px;
}

.input-box-container .input-box-container-input textarea {
	color: #333;
	width: 90%;
	height: 100%;
	border: none;
	font-size: 16px;
	margin-top: 10px;
	resize: none;
}

.input-box-container .input-box-container-input textarea:focus {
	outline: none;
}

.input-box-container .input-box-container-input textarea:focus-visible {
	outline: none;
}

.input-box-container .input-box-container-input textarea::placeholder {
	color: #dadade;
}

.answer-box-contaner {
	width: 800px;
	height: 200px;
	overflow-y: scroll;
	scrollbar-width: none;
	font-size: 1rem;
	&::-webkit-scrollbar {
		display: none;
	}
}